.team {
    position: relative;
    background: url(../img/bg/3.png) center/cover no-repeat, linear-gradient(#add2e4, #add2e4);
    padding: 50px 0px 20px 0px;
    box-sizing: border-box;
    &__prev {
        position: absolute;
        bottom: 99%;
        width: 100%; 
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &__next {
        position: absolute;
        top: 99%;
        width: 100%;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: right;
        }
    }
    &__left {
        position: relative;
        max-width: 875px;
        width: 100%;
        height: 206px;
        margin-left: -12%;
        margin-bottom: 90px;
        img {
            width: 100%;
            height: 100%;
        }
        p {
            position: absolute;
            top: 30%;
            right: 25%;
            font-family: 'Housearama', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 40px;
            color: #181818;
            max-width: 447px;
            br {
                display: none;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
    &__card {
        &-img {
            width: 100%;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-name {
            font-family: 'Housearama', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;
            letter-spacing: 0.09em;
            color: #FFC107;
            text-shadow: -2px 2px 3px rgba(62, 52, 99, 0.3);
            -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.7);
            margin-bottom: 10px;
            padding-left: 5px;
        }
        &-job {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #6A6A6A;
            margin-bottom: 10px;
            padding-left: 5px;
        }
        &-list {
            padding-left: 5px;
            li {
                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }
                div {
                    display: flex;
                    gap: 15px;
                    svg {
                        display: flex;
                        flex-shrink: 0;
                        padding-top: 13px
                    }
                    p {
                        font-size: 16px;
                        line-height: 28px;
                        color: #303030;
                    }
                }
            }
        }
    }
}
@media (max-width: 1230px) {
    .team {
        &__left {
            margin-left: -14%;
        }
        &__grid {
            gap: 40px;
        }
    }
}
@media (max-width: 1022px) {
    .team {
        &__next {
            height: 100px;
        }
        &__left {
            margin-left: -15%;
            height: 181px;
            p {
                top: 26%;
                right: 18%;
                font-size: 24px;
            }
        }
        &__grid {
            gap: 30px;
        }
        &__card {
            &-name {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 798px) {
    .team {
        &__left {
            height: 136px;
            margin-bottom: 40px;
            p {
                font-size: 20px;
                line-height: 28px;
                max-width: 345px;
            }
        }
        &__grid {
            grid-template-columns: 1fr;
            gap: 40px;
        }
        &__card {
            max-width: 500px;
            margin: 0 auto;
            &-name {
                font-size: 20px;
                text-align: center;
            }
            &-job {
                text-align: center;
            }
        }
    }
}
@media (max-width: 606px) {
    .team {
        &__prev {
            height: 70px;
        }
        &__next {
            height: 70px;
            img {
                object-position: 35% 0;
            }
        }
        &__left {
            max-width: 415px;
            min-width: 415px;
            flex-shrink: 0;
            height: 197px;
            margin-left: -17%;
            p {
                font-size: 18px;
                line-height: 30px;
                top: 46%;
                right: 6%;
                max-width: 270px;
                br {
                    display: block;
                }
            }
        }
    }
}
@media (max-width: 405px) {
    .team {
        &__left {
            margin-left: -26%;
        }
    }
}
@media (max-width: 375px) {
    .team {
        &__left {
            min-width: 329px;
            height: 159px;
            margin-left: -23%;
            p {
                right: 5%;
                max-width: 210px;
                font-size: 14px;
                line-height: 24px;
            }
        }
        &__card {
            &-name {
                font-size: 18px;
            }
        }
    }
}